<a href="https://colab.research.google.com/github/pfontanaflavio/PythonFundamentos/blob/master/desafio_modulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np #biblioteca utilizada para trabalhar com vetores
import pandas as pd #biblioteca para trabalhar com dataframes (planilhas excel)
import seaborn as sns #biblioteca utilizada para criar gráficos mais "bonitos"
import matplotlib.pyplot as plt #biblioteca para criar gráficos "comuns" ao estilo Matlab
import google

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [1]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving comp_bikes_mod.csv to comp_bikes_mod.csv

In [0]:
#realizando a leitura do arquivo (dataset)
nome_do_arquivo="comp_bikes_mod.csv"
data_comp_bikes= pd.read_csv(nome_do_arquivo)

In [4]:
#apresentando as 5 primeiras linhas do dataset
data_comp_bikes.head()

   instant      dteday  season   yr  ...  windspeed  casual  registered   cnt
0      1.0         NaN     1.0  0.0  ...        0.0     3.0        13.0  16.0
1      2.0  2011-01-01     1.0  0.0  ...        0.0     8.0        32.0  40.0
2      3.0  2011-01-01     1.0  0.0  ...        0.0     5.0        27.0  32.0
3      4.0  2011-01-01     1.0  0.0  ...        0.0     3.0        10.0  13.0
4      5.0  2011-01-01     1.0  0.0  ...        0.0     0.0         1.0   1.0

[5 rows x 17 columns]

In [5]:
data_comp_bikes.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     15641 non-null  float64
 1   dteday      15641 non-null  object
 2   season      15641 non-null  float64
 3   yr          15641 non-null  float64
 4   mnth        15641 non-null  float64
 5   hr          15641 non-null  float64
 6   holiday     15641 non-null  float64
 7   weekday     15641 non-null  float64
 8   workingday  15641 non-null  float64
 9   weathersit  15641 non-null  float64
 10  temp        15641 non-null  float64
 11  atemp       15641 non-null  float64
 12  hum         15641 non-null  float64
 13  windspeed   15641 non-null  float64
 14  casual      15641 non-null  float64
 15  registered  15641 non-null  float64
 16  cnt         15641 non-null  float64
dtypes: float64(16), object(1)
memory usage: 2.3+ MB

In [8]:
data_comp_bikes.isnull().sum() #Verifica as colunas com valores nulos e faz um somatório

instant       1738
dteday        1738
season        1738
yr            1738
mnth          1738
hr            1738
holiday       1738
weekday       1738
workingday    1738
weathersit    1738
temp          1738
atemp         1738
hum           1738
windspeed     1738
casual        1738
registered    1738
cnt           1738
dtype: int64

In [9]:
data_comp_bikes.shape

(17379, 17)